################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/IDZ/v15
/Project1/x64/Debug
/x64/Debug
/Project4/x64/Debug
/Project3/x64/Debug
/Debug
/Project2/x64/Debug
/Project1/dfhkjf
/Project1/rygfh
/Project3/Project3.aps
/Project3/resource.h
/Вывод-Отладка.txt
/Project3/Text.txt
/Project1/Ttt.txt
