################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/IDZ/v15
/Project1/x64/Debug
/x64/Debug
/Project4/x64/Debug
/Project3/x64/Debug
/Debug
/Project2/x64/Debug
